.content_container {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 1920px;
    text-align: center;
}

.content_copyright {
    text-align: left;
    margin: 0 10px;
    color: #ddd;
    box-shadow: 5px 5px 10px #202020;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(32, 32, 32, .8);
}

.content_copyright > hr {
    border: 1px solid lime;
}

@media (min-width: 750px) {
    .content_container {
        left: 25%;
    }
}

@media (min-width: 1200px) {
    .content_container {
        left: 300px;
    }
}